@import "componet_title.css";
/*--- new-act start ---*/
.new-act{width:1300px;height:360px;border:1px #ececec solid;margin:auto;background-color:#fff;font-family:微软雅黑;}
	/* list */
.new-act .act-list{position:relative;width:990px;height:100%;border-right:1px #ececec solid;}
.new-act .act-list ul{position:absolute;top:54px;left:11px;width:990px;height:318px;}
.new-act .act-list ul li{width:230px;height:290px;float:left;margin-right:15px;}
.new-act .act-list ul li a{display:block;width:100%;height:100%;border:1px #dcdcdc solid;}
.new-act .act-list ul li a.on{border-color:#ff952D;}
.new-act .act-list ul li a .act-list-text{padding:5px;font-size:16px;color:#5f5f5f;}
.new-act .act-list ul li a .act-list-text p.look-detail{margin-top:10px;font-size:12px;text-align:right;}
.new-act .act-list ul li a .act-list-text p.look-detail b{color:#fb6f3e;}
.new-act .act-list ul li a .act-list-text p.look-detail b.on{color:#FF952D;}
	/* login */
.new-act .act-login{width:308px;height:100%;background: #F4FAF4;padding:15px 35px;text-align:center;font-size:14px;}
.new-act .act-login p.login-title{color:#FF952D;font-size:16px;}
.new-act .act-login input{width:230px;height:36px;line-height:36px;padding-left:14px;color:#bfbfbf;font-size:14px;border:0;outline:none;border-radius:2px;}
.new-act .act-login input.user-name{margin-top:20px;background:#767676 url("../images/icon/indexIcon.png") no-repeat 190px -358px;}
.new-act .act-login input.user-psw{margin-top:32px;background:#767676 url("../images/icon/indexIcon.png") no-repeat 190px -418px;}
.new-act .act-login input.login-btn{margin-top:20px;background:#FF952D;color:#fff;font-size:18px;}
.new-act .act-login input.login-btn:hover{background: #FFA03A;}
.new-act .act-login a{color:#cfa972;cursor:pointer;}
.new-act .act-login a.forget-psw{margin-top:10px;}
.new-act .act-login a:hover{color:#FF952D;}
.new-act .act-login ul{width:170px;margin:20px 0 20px 40px;}
.new-act .act-login ul li{float:left;}
.new-act .act-login ul li a{display:block;width:32px;height:32px;}
.new-act .act-login ul li a.o-QQ{background:url("../images/icon/indexIcon.png") no-repeat -2px -708px;}
.new-act .act-login ul li a.o-wChat{background:url("../images/icon/indexIcon.png") no-repeat -63px -708px;margin:0 35px;}
.new-act .act-login ul li a.o-sina{background:url("../images/icon/indexIcon.png") no-repeat -122px -708px;}
.new-act .act-login ul li a.o-QQ:hover{background:url("../images/icon/indexIcon.png") no-repeat -2px -743px;}
.new-act .act-login ul li a.o-wChat:hover{background:url("../images/icon/indexIcon.png") no-repeat -63px -743px;}
.new-act .act-login ul li a.o-sina:hover{background:url("../images/icon/indexIcon.png") no-repeat -122px -743px;}
	/* after login */
.new-act .act-after-login{width:308px;height:100%;padding:15px 30px;font-size:14px;}
.new-act .act-after-login .user-info{width:100%;border-bottom:1px #535353 solid;padding-bottom:10px;}
.new-act .act-after-login .user-info img{border-radius:38px;}
.new-act .act-after-login .user-info .user-name{width:150px;color:#504747;}
.new-act .act-after-login .user-info .user-name p a{float:right;color:#a0a0a0;}
.new-act .act-after-login .user-info .user-name p a:hover{color:#ff952D;}
.new-act .act-after-login .user-info a.p-center{display:inline-block;margin-top:28px;width:130px;height:28px;line-height:28px;text-align:center;color:#ff952D;border:1px #ff952d solid;border-radius:14px;}
.new-act .act-after-login .user-info a.p-center:hover{color:#fff;background:#FF952D;}
.new-act .act-after-login .games-list p{margin:15px 0;color:#a0a0a0;}
.new-act .act-after-login .games-list ul.list-1{width:100%;}
.new-act .act-after-login .games-list ul.list-1 li{position:relative;height:40px;line-height:40px;}
.new-act .act-after-login .games-list ul.list-1 li a{display:block;width:100%;height:100%;}
.new-act .act-after-login .games-list ul.list-1 li a:hover{background: #FFFDF1;}
.new-act .act-after-login .games-list ul.list-1 li a span.g-server,
.new-act .act-after-login .games-list ul.list-1 li a span.g-enter{float:right;}
.new-act .act-after-login .games-list ul.list-1 li a span.g-name{color:#504747;}
.new-act .act-after-login .games-list ul.list-1 li a span.g-enter{color:#ff952d;}
.new-act .act-after-login .games-list ul.list-1 li a span.g-server{position:absolute;right:80px;color:#a0a0a0;}
.new-act .act-after-login .games-list ul.list-2 li{float:left;margin-right:2px;}
.new-act .act-after-login .games-list ul.list-2 li a img{border-radius:5px;}
/*--- end new-act ---*/
