body{background-color:#fbfbfb;}
.main{width:1300px;height:auto;min-height:900px;margin:40px auto;}
.main .act-left{position: relative;width:950px;height:auto;min-height:900px;}
.main .act-left p.location{position:absolute;top:-25px;font-size:12px;color:#000;}
.main .act-left p.location a{color:#000;}
.main .act-left p.location a.r{color:red;}
.main .act-left .package-cont,
.main .act-left .other-package{border:1px #dcdcdc solid;background-color:#fff;}
.main .act-left .package-cont{width:100%;height:auto;}
.main .act-left .package-cont .package-game{width:100%;height:147px;border-bottom:1px #dcdcdc solid;}
.main .act-left .package-cont .package-game .game-pic{width:283px;height:100%;padding:12px 15px;background-color:#eee;border-right:1px #dcdcdc solid;}
.main .act-left .package-cont .package-game .game-name{position:relative;width:665px;height:100%;padding:12px 17px;font-size:14px;color:#a0a0a0;}
.main .act-left .package-cont .package-game .game-name p.name{color:#000;font-size:18px;font-weight:bold;}
.main .act-left .package-cont .package-game .game-name p.num{margin-top:18px;}
.main .act-left .package-cont .package-game .game-name p.num b{color:#80C269;}
.main .act-left .package-cont .package-game .game-name a{display:block;position:absolute;bottom:20px;background-color:#80C269;width:155px;height:30px;line-height:30px;text-align:center;color:#fff;border-radius:10px;}
.main .act-left .package-cont .package-game .game-name a.get-record{left:180px;}
	/* 礼包列表 */
.main .act-left .package-cont .package-list li{position:relative;height:120px;border-bottom:1px #dcdcdc solid;font-size:14px;color:#a0a0a0;}
.main .act-left .package-cont .package-list li .package-name{position:absolute;left:25px;width:355px;height:100%;border-right:1px #dcdcdc solid;padding-top:30px;}
.main .act-left .package-cont .package-list li .package-name img{border-radius:6px;}
.main .act-left .package-cont .package-list li .package-name p.name{position:absolute;left:90px;top:30px;font-weight:bold;color:#000;}
.main .act-left .package-cont .package-list li .package-name span{position:absolute;bottom:22px;}
.main .act-left .package-cont .package-list li .package-name span.num{left:90px;}
.main .act-left .package-cont .package-list li .package-name span.num b{font-weight:normal;color:red;}
.main .act-left .package-cont .package-list li .package-name span.condition{left:200px;}
.main .act-left .package-cont .package-list li .package-name span.condition b{font-weight:normal;color:#000;}
.main .act-left .package-cont .package-list li .package-content{position:absolute;right:30px;width:500px;height:100%;}
.main .act-left .package-cont .package-list li .package-content p{position:absolute;}
.main .act-left .package-cont .package-list li .package-content p.title{top:30px;font-weight:bold;color:#000;}
.main .act-left .package-cont .package-list li .package-content a{display:block;top:20px;right:30px;width:98px;height:23px;position:absolute;line-height:21px;text-align:center;border-radius:11px;cursor:pointer;}
.main .act-left .package-cont .package-list li .package-content a.get{border:1px #80C269 solid;color:#80C269;}
.main .act-left .package-cont .package-list li .package-content a.get:hover{background-color:#80C269;color:#fff;}
.main .act-left .package-cont .package-list li .package-content a.al-get{border:1px #a0a0a0 solid;color: #a0a0a0;}
.main .act-left .package-cont .package-list li .package-content p.condition{bottom:22px;}
	/* 领取记录列表 */
.main .act-left .package-cont .record-list li{position:relative;height:120px;border-bottom:1px #dcdcdc solid;font-size:14px;color:#a0a0a0;}
.main .act-left .package-cont .record-list li .package-name{position:absolute;left:25px;width:400px;height:100%;border-right:1px #dcdcdc solid;padding-top:30px;}
.main .act-left .package-cont .record-list li .package-name img{border-radius:6px;}
.main .act-left .package-cont .record-list li .package-name p.name{position:absolute;left:90px;top:30px;font-weight:bold;color:#000;}
.main .act-left .package-cont .record-list li .package-name span{position:absolute;bottom:22px;}
.main .act-left .package-cont .record-list li .package-name span.time{left:90px;}
.main .act-left .package-cont .record-list li .package-name a{display:block;position:absolute;right:15px;width:98px;height:22px;border:1px #535353 solid;text-align:center;color:#535353;border-radius:11px;}
.main .act-left .package-cont .record-list li .package-name a:hover{border:1px #80C269 solid;color:#80C269;}
.main .act-left .package-cont .record-list li .package-name a.enter-game{top:28px;}
.main .act-left .package-cont .record-list li .package-name a.gw{bottom:22px;}
.main .act-left .package-cont .record-list li .package-content{position:absolute;right:30px;width:400px;height:100%;}
.main .act-left .package-cont .record-list li .package-content input{position:absolute;left:102px;top:32px;width:190px;border:0;outline:none;color:#000;}
.main .act-left .package-cont .record-list li .package-content p.title{position:absolute;top:30px;left:50px;color:#000;}
.main .act-left .package-cont .record-list li .package-content a.copy-btn{display:block;top:65px;left:80px;width:98px;height:23px;position:absolute;line-height:21px;text-align:center;border:1px #80C269 solid;color:#80C269;border-radius:11px;cursor:pointer;}
.main .act-left .package-cont .record-list li .package-content a.copy-btn:hover{background-color:#80C269;color:#fff;}
	/* 注意 */
.main .act-left .package-cont .caution{width:100%;height:210px;padding:30px 24px;}
.main .act-left .package-cont .caution .cont{width:900px;height:148px;padding:15px 20px;background-color:#c9c9c9;}
.main .act-left .package-cont .caution .cont p{width:335px;height:117px;padding-left:120px;background:url("../images/icon/indexIcon.png") no-repeat 20px -2030px;border-right:1px #898989 solid;line-height:117px;font-size:18px;font-weight:bold;color:#535353;}
.main .act-left .package-cont .caution .cont ul{width:460px;height:100%;}
.main .act-left .package-cont .caution .cont ul li{height:36px;line-height:36px;font-size:12px;}
	/* 其他游戏推荐礼包  */
.main .act-left .other-package{width:100%;height:214px;margin-top:35px;}
.main .act-left .other-package ul{padding:8px 0 0 46px;}
.main .act-left .other-package ul li{width:253px;height:153px;float:left;margin-right:46px;border:1px #dcdcdc solid;}
.main .act-left .other-package ul li a{display:block;width:100%;height:100%;position:relative;}
.main .act-left .other-package ul li a .img-box{overflow:hidden;height:122px;}
.main .act-left .other-package ul li a span{position:absolute;font-size:12px;}
.main .act-left .other-package ul li a span.package-name{bottom:6px;left:10px;color:#434343;}
.main .act-left .other-package ul li a span.package-btn{display:block;right:10px;bottom:4px;width:60px;height:20px;line-height:18px;border:1px #80c269 solid;color:#80c269;text-align:center;border-radius:10px;}
.main .act-left .other-package ul li a:hover .package-btn{background-color:#80C269;color:#fff;
	transition:.3s;
	-o-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
}
.main .act-left .other-package ul li a:hover .img-box img{
	transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-webkit-transition:.3s;
	-moz-transition:.3s;
	-o-transition:.3s;
}
.main .act-right{width:330px;min-height:950px;height:auto;}
.main .act-right .hot-package{background-color:#fff;margin-bottom:35px;}
.main .act-right .hot-rank{background-color:#fff;}

/* 分页 */
.page{height:60px;width:100%;line-height:60px;text-align:center;margin:0 auto 40px;padding-top:10px;}
.page .pagenumber{float: right;}
.page a{width:20px;height:20px;text-align:center;line-height:20px;float:left;color: #ff952d;font-size: 12px;border:1px #ff952d solid;margin-left: 4px;}
.page a:hover{background-color:#ff952d;color:white;}
.page a.first-page,.page a.last-page{width:38px!important;}
.current{width: 20px;height: 20px;text-align:center;line-height:20px;float: left;color: #fff;font-size: 12px;background-color:#ff952d;border:1px #ff952d solid;margin-left:4px;}
.jl{width:174px;height:20px;text-align:center;line-height:20px;float:left;color:#ff952d;font-size: 12px;border:1px #ff952d solid;margin-left:4px;}
/* 弹出框 */
.code-wind{
	position:fixed;
	top:0;left:0;
	width:100%;height:100%;
	background:rgba(0,0,0,.4);
	opacity: 0;
	/*opacity: 1;*/
	visibility: hidden;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
	z-index:10;
	font-family:微软雅黑;
}
.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0s;
}
.code-wind .code-box{position:absolute;top:50%;left:50%;margin:-88px 0 0 -168px;background-color:#fff;width:336px;height:176px;text-align:center;font-size:14px;}
.code-wind .code-box p.title{height:30px;width:100%;background-color:#80C269;text-align:center;line-height:30px;color:#fff;font-size:16px;}
.code-wind .code-box p.text{margin:50px 0 0 -135px;}
.code-wind .code-box input{position:absolute;top:83px;left:130px;border:0;outline:none;}
.code-wind .code-box a{position:absolute;color:#fff;cursor:pointer;}
.code-wind .code-box a.code-close{right:-35px;top:5px;}
.code-wind .code-box a.code-ok{display:block;bottom:28px;left:120px;width:90px;height:25px;line-height:25px;background-color:#80C269;}
.code-wind .code-box a.copy-btn{display:block;bottom:28px;left:120px;width:90px;height:25px;line-height:25px;background-color:#80C269;}

.code-wind .box{position:absolute;top:50%;left:50%;margin:-88px 0 0 -168px;background-color:#fff;width:336px;height:176px;text-align:center;font-size:14px;}
.code-wind .box p.title{height:30px;width:100%;background-color:#80C269;text-align:center;line-height:30px;color:#fff;font-size:16px;}
.code-wind .box p.text{margin-top:50px;}
.code-wind .box a{position:absolute;color:#fff;cursor:pointer;}
.code-wind .box a.code-close{right:-35px;top:5px;}
.code-wind .box a.code-ok{display:block;bottom:28px;left:120px;width:90px;height:25px;line-height:25px;background-color:#80C269;}