@import "componet_title.css";
/*--- server-list start ---*/
.servers-list{margin:auto;width:330px;height:500px;border:1px solid #dcdcdc;background:#fff;overflow:hidden;}
.servers-list .tabs{width:100%;height:44px;border-bottom:1px solid #dcdcdc;}
.servers-list .tabs .tab{display:block;width:164px;height:100%;line-height:44px;text-align:center;color:#000;font-size:18px;cursor:pointer;}
.servers-list .tabs .on{display:block;width:164px;height:100%;line-height:44px;text-align:center;color:#fff;font-size:18px;cursor:pointer;background:#ff952d;}
.servers-list .tabs #servers1{border-right:1px solid #dcdcdc;float:left;}
.servers-list .tabs #servers2{float:right;}
.servers-list ul.servers-title{width:100%;height:44px;}
.servers-list ul.servers-title li{float:left;width:33.33%;height:100%;line-height:44px;text-align:center;border-bottom:1px #dcdcdc solid;}
	/* 新服推荐 */
.servers-list ul.new-servers{width:100%;font-size:12px;display:none;}
.servers-list ul#newServers_tab_1{display:block;}
.servers-list ul.new-servers li{border-bottom:1px #dcdcdc dashed;cursor:pointer;}
.servers-list ul.new-servers li.on{border-bottom:1px #dcdcdc solid;}
.servers-list ul.new-servers li .dis-1{width:100%;line-height:28px;}
.servers-list ul.new-servers li .dis-1 span{display:inline-block;width:32%;height:28px;text-align:center;}
.servers-list ul.new-servers li .dis-1 span.g-name{color:#00b7ee;}
.servers-list ul.new-servers li .today span.g-name{color:#ff0000;}
.servers-list ul.new-servers li .dis-1 span.g-time{position:relative;vertical-align:middle;}
.servers-list ul.new-servers li .dis-1 span.g-time a{display:block;position:absolute;top:2px;left:12px;width:82px;height:22px;line-height:20px;border:1px #00b7ee solid;color:#00b7ee;}
.servers-list ul.new-servers li .dis-1 span.g-time a:hover{background:#00b7ee;color:#fff;}
.servers-list ul.new-servers li .today span.g-time a{border:1px #ff0000 solid;color:#ff0000;}
.servers-list ul.new-servers li .today span.g-time a:hover{background:#ff0000;color:#fff;}
.servers-list ul.new-servers li .dis-2{position:relative;display:none;}
.servers-list ul.new-servers li .dis-2 .to-game{display:block;position:relative;height:60px;width:100%;border:1px #dcdcdc solid;border-left:0;border-right:0;color:#fff;}
.servers-list ul.new-servers li .dis-2 .to-game p.open-time{height:58px;width:70px;padding-top:10px;background:#00b7ee;line-height:18px;text-align:center;}
.servers-list ul.new-servers li .dis-2 .to-game span.g-logo{display:inline-block;position:absolute;top:1px;right:130px;height:58px;width:80px;}
.servers-list ul.new-servers li .dis-2 .to-game p.enter-servers{width:82px;position:absolute;right:17px;top:8px;color:#000;text-align:center;}
.servers-list ul.new-servers li .dis-2 a.enter-new-server{display:block;width:82px;height:22px;line-height:20px;position:absolute;bottom:8px;right:17px;border:1px #00b7ee solid;text-align:center;color:#00b7ee;}
.servers-list ul.new-servers li .dis-2 a.enter-new-server:hover{background:#00b7ee;color:#fff;}
.servers-list .more-btn{height:30px;padding-top:3px;color:#000;text-align:center;}
.servers-list .more-btn a.page-btn{display:inline-block;width:13px;height:13px;border:2px #FF952D solid;border-radius:6px;cursor:pointer;}
.servers-list .more-btn a:first-child{margin-right:10px;}
.servers-list .more-btn a.on{display:inline-block;width:13px;height:13px;background:#FF952D;border:2px #FF952D solid;border-radius:6px;cursor:pointer;}
	/* 新服预告 */
.servers-list #servers_cont_tab_2{display:none;}
/*--- end server-list ---*/